<section id="about" class="aside-module grid__item one-whole lap-one-half">
  <h1 class="title delta">About</h1>
  <p>Welcome!<br/>
  I'm Piotr Nedzynski - your host at this blog.</p>
  <p>I work at <a target="_blank" href="//getbase.com">Base</a> where we <a target="_blank" href="//getbase.com/imagine">redefine</a> the way companies use software to manage their businesses. I'm also the co-founder and organizer of <a target="_blank" href="//hive53.com">Hive53</a> - a virtual hive that unites startup and enterpreneurship enthusiasts in beautiful Krakow and <a target="_blank" href="//joinhive.com">other cities</a>.</p>
  <p>This blog is where I formulate and share my learnings - both profesional and personal.</p>
</section>
